.popup__input-error {
  display: block;
  opacity: 0;
  position: relative;
  color: #FF0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  box-sizing: border-box;
  min-height: 30px;
}

@media screen and (max-width: 630px) {
  .popup__input-error {
    max-width: 238px;
  }
}
