.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/close-icon.svg);
  min-width: 32px;
  min-height: 32px;
  background-size: cover;
}

@media screen and (max-width: 630px) {
  .popup__close-button {
    min-width: 20px;
    min-height: 20px;
    right: 0;
  }
}
