.profile__add-button {
  background-image: url(../../../images/add-button.svg);
  min-width: 150px;
  min-height: 50px;
  margin-left: auto;
}

@media screen and (max-width: 930px) {
  .profile__add-button {
    margin-right: auto;
  }
}

@media screen and (max-width: 630px) {
  .profile__add-button {
    min-width: 282px;
    min-height: 50px;
    background-image: url(../../../images/add-button-big.svg);
  }
}
